* {
  margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 14px;
  height: 100%;
}
.wrapper {
  flex: 1 0 auto;
  min-height: 100%;
}
.content {
  padding: 5%;
}
.main-header h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  padding: 0 0 2em;
}
p.description {
  font-size: 18px;
}


footer {
  flex: 1 0 auto;
  height: 150px;
  margin-top: -150px;
  text-align: center;
  background: #ccc;
}